html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: #21242b;
}

p {
    height: 30px;
    text-align: center;
}

g path {
    stroke: #69a0cf;
    stroke-width: 7px;
}

g line {
    stroke: #69a0cf;
}

g.tick text {
    fill: #69a0cf;
}

svg {
    background-color: #282c35;
    padding: 20px 0 0 50px;
    width: calc(100% - 50px);
}