.path-label {
    margin-left: 7px;
}

input[type="color"] {
	-webkit-appearance: none;
    border: none;
    border-radius: 3px;
    background-color: #dadada00;
    outline: none;
}

input[type="color"]:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}