<div #container id="svg-container" (window:resize)="onResize()">
  <svg id="svg-box">
    <svg:g value-axis [svgHeight]="svgHeight" [padding]="padding"></svg:g>
    <svg:g time-axis 
      [svgWidth]="svgWidth" 
      [svgHeight]="svgHeight" 
      [padding]="padding" 
      [timeAxis]="timeAxis">
    </svg:g>
    <svg:g app-path 
      *ngFor="let pathdata of allData; index as i"
      [data]="allData[i]" 
      [config]="allConfig[i]" 
      [timeAxis]="timeAxis" 
      [valueAxis]="valueAxis"
      [padding]="padding">
    </svg:g>
  </svg>
</div>
