#svg-container {
    background: green;
    height: 650px;
    width: 100%;
}

#svg-box{
    height: 100%;
    width: 100%;
    background: #304e5a;
    box-shadow: inset 1px 0px 158px -31px rgba(0,0,0,0.75);
}
